.chat-main__message-list__message
  .chat-main__message-list__message__name-box
    .chat-main__message-list__message__name-box__name
      = message.user.name
    .chat-main__message-list__message__name-box__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .chat-main__message-list__text
    - if message.content.present?
      .chat-main__message-list__text__content
        = message.content
    = image_tag message.image.url, class: 'chat-main__message-list__text__image' if message.image.present?